@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');

#topic{
	color:#3A4D39; 
	font-family: "Red Hat Display", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 800;
	font-size:30px; 
}

#reload{
	border: 1px solid #3A4D39;
	background-color: #BFD8AF;
	padding: 8px 20px;
	margin: 5px 5px;
	font-family: "Red Hat Display", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	transition-duration: 0.2s;
}

#reload{
	background-color: #FAF8ED;
	font-weight: 800;
}

#reload:hover{
	box-shadow: rgba(99, 136, 137, 0.5) 0px 7px 29px 0px;
}
